body{
	border-color: black;
    border-style: groove;
    background-color: rgb(1, 1, 24);
}
.gif{
	border: 4px solid black;
}

.text1{
    text-align: center;
    color: darkorange;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.603);
}

h1{
    text-align: center;
    color: rgb(204, 42, 123);
    font-size: 65px;
    background-color: rgba(255, 255, 255, 0.048);
    }
 